@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');


html {
    box-sizing:border-box;
    margin: 0;
    font:normal 16px/1.2 'Rubik',sans-serif;
}
*, *::before, *::after {
    box-sizing:inherit;
}
body {
    margin:0;
    background-image: linear-gradient(45deg, #949494 6.25%, #cbc9cf 6.25%, #cbc9cf 50%, #949494 50%, #949494 56.25%, #cbc9cf 56.25%, #cbc9cf 100%);
    background-size: 11.31px 11.31px;
}

.page-container {
    max-width:1200px;
    margin:0 auto;
    padding: 30px 25px 30px 25px;
    background: whitesmoke;
}

.header{
    background-color: #e10600;
    color: white;
    text-align: center;
    margin: 0;
    padding: 40px;
    font-size: 2em;
}

footer{
    background-color: black;
    color: white;
    padding: 20px 0px 20px 0px;
    margin: 0;
    text-align: center;
    bottom: 0;
}

footer a{
    color: #fff037;
    text-decoration: none;
}

footer a:hover{
    color: gainsboro;
    font-weight: bold;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
}

ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}

ul li a:hover{
    text-decoration: underline;
    font-weight: bolder;
    color: antiquewhite;
}

img{
    max-width: 100%;
    transition: all 0.5s ease-in;
}

.enlarged{
    transform: scale(1.5);
    background-color: beige;
    border: 10px solid white;
}

.table-container {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

table{
    border-collapse: collapse;
}



th, td{
    border: 1px solid grey;
    padding: 5px;
}


.pure-table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: #d2d2d2;
}

.pure-table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
  background-color: #fafafa;
}

.pure-table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
  background-color: whitesmoke;
}


.owl-prev, .owl-next {
    width: 48px;
    height: 100px;
    position: absolute;
    top: 50%;
    display: block !important;
    border:0px solid black;
    filter: invert(64%) sepia(7%) saturate(114%) hue-rotate(83deg) brightness(95%) contrast(90%);
}

.owl-next{
    right: -25px;
}
.owl-prev{
    left: -20px;
}

.owl-next:hover, .owl-prev:hover{
    filter: invert(26%) sepia(0%) saturate(86%) hue-rotate(286deg) brightness(106%) contrast(83%);
}

.pure-table{
    width: 100%;
}

p.attrib{
    font-size: 0.8em;
}


.time-btn{
    float: right;
    margin: 10px 0px 10px 50px;
    background-color: #e10600;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 560px){
    
    .owl-prev{
        top: 175px;
    }
    
    .owl-next{
        top: 175px;
    }
    
    .time-btn{
        margin-top: 0;
    }
    
    ul{
        margin: 0;
        padding: 0;
    }
    
    ul li{
        margin: 0;
        display: block;
    }
}